<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="D:/Work/Automation Testing (Java+Selenium)/Java_Eclipse/eclipse-workspace/Mar26_Maven_Automation/src/test/java/exampleScripts/TC1.java">
        <classes>
            <class name="exampleScripts.TC1"/>
            <class name="exampleScripts.TC2"/>
        </classes>
    </test>
</suite>